.form-body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-title {
  display: flex;
  justify-content: space-between;
}
.input-main {
  background-color: rgb(213, 208, 208);
  margin: 20px 0;
  border-radius: 10px;
}
