/*
  detail page
*/
.detail {
  padding-top: 95px;
  margin: 0 30px;
  background: url('detail/page_bg.png') repeat-x top left;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__back {
    padding-left: 19px;
    background: url('detail/icon_back.svg') no-repeat left center;
    color: #888790;
  }
}
